/* DEFINIMOS LOS COLORES DEL PROYECTO */
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --grisClaro: #dfe9f3;
}

/* Reiniciamos el tamaño */
html {
  font-size: 62.5%;
  box-sizing: border-box; /* Box sizing */
}
*,
*:before,
*:after {
  box-sizing: inherit; /* Box sizing */
}
body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
  background-image: linear-gradient(
    to top,
    var(--grisClaro) 0%,
    var(--blanco) 100%
  );
}
/* Hace que los rem sean mas facil de usar 1 rem = 10px, con la ventaja de que el rem se va a adaptar mucho mejor */
/* va a permitir que cuaquier proyecto se pueda adaptar a cualquier dispositivo */
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 1.8rem;
}
h1,
h2,
h3 {
  text-align: center;
}
.titulo span {
  font-size: 2rem;
}

/* Barra de navegación  */

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
/* Damos estilos al boton */
.boton {
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
}
@media (min-width: 768px) {
  .boton {
    width: auto;
  }
}
.nav-bg {
  background-color: var(--oscuro);
}
.navegacion-principal {
  padding: 1rem;
  /* Habilitamos las propiedades de FLEXBOX */
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; /* Hace que el primer y ultimo elemento se vayan a las esquinas y los restantes se acomodan con el mismo ancho entre ellos   */
  }
}
.navegacion-principal a {
  display: block; /* Cuando la pantalla se vuelva más pequeña va a hacer que los elementos se alinien en forma de bloque para poder centrarlos luego */
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
/* Eventos de CSS o Pseudo Clases */
.navegacion-principal a:hover {
  background-color: var(--blanco);
  color: var(--oscuro);
}
/* Dando estilo a imagen del header  */
.hero {
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 60rem;
  /* padding: 20px; */
  position: relative;
}
.contenido-hero {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4); /*Anterior */
  background-color: rgb(0 0 0 / 40%); /*Nuevo "Poco soporte"*/
  width: 100%;
  height: 100%;
  /* Alineamos tanto vetical como horizontalmente con los siguientes codigos: */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenido-hero h2,
.contenido-hero p {
  color: var(--blanco);
}
/* Alineamos los elementos el texto e icono del Heading  */
.ubicacion {
  display: flex;
  align-items: flex-end;
}
