/* DEFINIMOS LOS COLORES DEL PROYECTO */
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

/* Reiniciamos el tamaño */
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Krub", sans-serif;
}
/* Hace que los rem sean mas facil de usar 1 rem = 10px, con la ventaja de que el rem se va a adaptar mucho mejor */
/* va a permitir que cuaquier proyecto se pueda adaptar a cualquier dispositivo */

.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}

/* Barra de navegación  */

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
.nav-bg {
  background-color: var(--oscuro);
}
.navegacion-principal {
  padding: 1rem;
  /* Habilitamos las propiedades de FLEXBOX */
  display: flex;
  flex-direction: column;
}
@media (min-width: 480px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between; /* Hace que el primer y ultimo elemento se vayan a las esquinas y los restantes se acomodan con el mismo ancho entre ellos   */
  }
}
.navegacion-principal a {
  display: block; /* Cuando la pantalla se vuelva más pequeña va a hacer que los elementos se alinien en forma de bloque para poder centrarlos luego */
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
/* Eventos de CSS o Pseudo Clases */
.navegacion-principal a:hover {
  background-color: var(--blanco);
  color: var(--oscuro);
}
.hero {
  background-image: url(../img/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
